@page "/todoapp"
@using TodoApp.Data;
@using TodoApp.Services;
@inherits OwningComponentBase<TodoService>


<button class="btn btn-outline-success" @onclick="Showpop">Thêm danh sách</button>
@if (popup)
{
    <div class="modal" tabindex="-1" style="display:block;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Nhập danh sách cần làm</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" @onclick="CloseUp" aria-label="Close"></button>
                </div>
                <EditForm Model="todos" OnValidSubmit="(()=>Add(todos))">
                    <div class="modal-body">
                        <table class="table">
                            <tr>
                                <td>Tiêu đề</td>
                                <td><input @bind="todos.title" type="text" placeholder="Nội dung" /></td>
                            </tr>
                            <tr>
                                <td>Ghi chú</td>
                                <td><input @bind="todos.note" type="text" placeholder="Ghi chú" /></td>
                            </tr>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
}
<table class="table">
    <tr>
        <th>Tiêu đề</th>
        <th>Ghi chú</th>
        <th>Trạng thái</th>
    </tr>
    @foreach (var item in todoItems)
    {
        <tr>
            <td>@item.title</td>
            <td>@item.note</td>
            <td>
                <input type="checkbox" @bind="item.done" class="custom-checkbox" />
            </td>
            <td>
                <button class="btn btn-danger" @onclick="(()=>EditTodo(item))">Edit</button>
                <button class="btn btn-danger" @onclick="(()=>DeleteItem(item))">Delete</button>
            </td>
        </tr>
    }
</table>
<button class="btn btn-danger" @onclick="(()=>DeleteTodo(todos))">Delete All</button>
<button class="bth btn-success" @onclick="(()=>UpdateTodo(todos))">Update</button>
@code {
    List<TodoItem> todoItems;
    TodoItem todos = new TodoItem();
    bool popup = false;
    string noteNull = "";
    protected override void OnInitialized()
    {
        todoItems = Service.GetAllTodo();
    }
    void Showpop()
    {
        popup = true;
    }
    void CloseUp()
    {
        popup = false;
    }
    void Add(TodoItem todoUpdate)
    {
        if (todos.note == null)
        {
            todos.note = noteNull;
        }
        if (todos.title == null)
        {
            todos.note = noteNull;
        }
        if (todos.id > 0)
        {
            var updateTodo = Service.UpdateTodo(todoUpdate);
            updateTodo = Service.UpdateTodo(todos);

        }
        else
        {
            todos.id = 0;
            Service.InserTodo(todos);
            todoItems = Service.GetAllTodo();
            popup = false;

        }
        todoItems = Service.GetAllTodo();
    }
    void DeleteItem(TodoItem todoDel)
    {
        var del = Service.DeleteTodo(todoDel);
        todoItems.Remove(todoDel);
    }
    void DeleteTodo(TodoItem delTodo)
    {
        var dels = Service.DeleteTodo(delTodo);
        todoItems.Clear();
    }
    void EditTodo(TodoItem todoEdit)
    {
        todos = todoEdit;
        popup = true;
    }
    void UpdateTodo(TodoItem todoUpdate)
    {
        var updateTodo = Service.UpdateTodo(todoUpdate);
        todoItems = Service.GetAllTodo();
    }
}
